
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

button {
  width: 50%;
  padding: 10px;
  background-color: #ff0000;
  color: white;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1390px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.container h1 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
}

.overflow {
    overflow-wrap: anywhere;
}

.menu-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px; 
}

.menu-box {
position: relative;   
  width: 200px; 
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.menu-box .badge {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #000000;
    font-size: 12px;
    width: auto;
    height: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

.menu-box:hover {
  background-color: #f0f0f0;
  border-color: #999;
}

.menu-box .icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.menu-box p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}